button {
    cursor: pointer;
    margin: 5px;
  }
  .subscribe-btn {
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 16px;
    transition: opacity 0.15s;
  }
  .subscribe-btn:hover {
    opacity: 0.8;
  }
  .subscribe-btn:active {
    opacity: 0.5;
  }
  .join-btn {
    background-color: white;
    color: rgb(6, 95, 212);
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 9px 15px;
    transition: 
      background-color 0.15s, 
      color 0.15s;
  }
  .join-btn:hover {
    background-color: rgb(6, 95, 212);
    color: white;
  }
  .join-btn:active {
    opacity: 0.8;
  }
  .tweet-btn {
    background-color:rgb(29, 155, 240);
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 18px;
    font-size: 15px;
    padding: 7px 16px;
    transition: box-shadow 0.15s;
  }
  .tweet-btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }